/*csslint universal-selector: false, ids: false, box-sizing:false, box-model:false*/


/*UNIVERSAL SELECTOR*/

* {
	box-sizing: border-box;
}


/********************************
GENERAL
********************************/

body {
	line-height: 1.5;
	margin: 0;
}


/* To  change font-size from px to em. Do this simple equation.
   Whatever the desired pixel is / 16.
   26px/16px = 
*/

.title {
	color: white;
	font-size: 1.725em;
}

.primary-content {
	padding-bottom: 95px;
	text-align: center;
}

.secondary-content {
	border-bottom: 2px solid #dfe2e6;
	font-size: 12px;
	padding-bottom: 70px;
	padding-top: 80px;
}

.primary-content,
.secondary-content {
	margin: auto;
	max-width: 900px;
	padding-left: 50px;
	padding-right: 50px;
	width: 75%;
}

.t-border {
	border-top: 2px solid grey;
}

.arrow {
	width: 50px;
}

img {
	margin-bottom: 20px;
	width: 100%;
}


/*
ul li {
	margin-bottom: 5px;
}
*/

ul,
ol {
	margin-left: 30px;
}

li {
	margin-bottom: 10px;
}

.main-header {
	background-image: url(../lake-tahoe-images/awsome%20miguel.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: solid 10px black;
	height: 850px;
	padding-bottom: 60px;
	padding-top: 170px;
	text-align: center;
}

.callout {
	border-bottom: 3px solid;
	display: inline-block;
	font-size: 1.25em;
	margin-top: 20px;
	padding: 0 9px 3px;
}

.wildlife {
	/*	border-width: 10px 20px;
	border-style: solid;
	border-color: #ffa949; */
	border-top: 10px solid #ffa949;
	/* When 3 values. First one is the top. Second one is left and right. Thrid one is bottom */
	margin: 105px 0 60px;
	padding: 18% 24%;
}

.social-media-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}


/********************************
HEADLINE ELEMENTS
********************************/

h1 {
	color: white;
	font-size: 72px;
	font-weight: normal;
	line-height: 1.3;
	text-transform: uppercase;
}

h2 {
	font-size: 53px;
	font-weight: normal;
	/* 26px/53px */
	margin-bottom: .5em;
	text-decoration: underline;
}

h3 {
	color: darkorange;
	font-size: 20px;
	/* 34px/20px */
	margin-bottom: 1.7em;
}

p {
	font-size: 40px;
}


/********************************
FLOATED COLUMNS
********************************/

.resorts,
.tips {
	width: 46.5%;
}

.resorts {
	float: left;
}

.tips {
	float: right;
}

.group:after {
	clear: both;
	content: "";
	display: table;
}


/********************************
COLOR
********************************/

body {
	color: darkred;
}

.title {
	color: white;
}

.main-header {
	background-color: red;
}

span {
	color: black;
}

ul li {
	color: white;
}

.wildlife {
	background-image: url(../lake-tahoe-images/f6.jpg);
	background-size: contain;
	color: red;
}

.lol {
	color: black;
}

.nor {
	color: red;
}


/*CSS PESUDO CLASS*/

a:link {
	color: orange;
}

a:hover {
	color: forestgreen;
}

a:visited {
	color: lightblue;
}

a:active {
	color: coral;
}

a:focus {
	background-color: orange;
	color: white;
}